*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}
:root{
    --bg-color: #080808;
    --second-bg-color:#131313;
    --text-color:white;
    --main-color:#00ffee;
}
html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
    color:var(--text-color);
}
.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 4rem 12% 4rem;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo{
    font-size: 3rem;
    font-weight: 800;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

.logo span{
    text-shadow: 0 0 25px var(--main-color);

}
.navbar a{
    font-size: 1.8rem;
    
    margin-left: 4rem;
    color: var(--text-color);
    font-weight: 600;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color:var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-bar{
    font-size: 3rem;
    color: var(--main-color);
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.home{
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap:15rem;

}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

.home-content h1{
    font-size: 3rem;

}

.home-content h3{
    font-size: 2rem;
    margin-top: 10px;
}
.home-content p{
    font-size: 1.5rem;
    margin-top:10px ;
}
.social-icons{
    font-size: 2rem;
    margin-top: 20px;
    
    
    

}
.social-icons a{
    border-style: solid;
    border-radius: 47%;
    border-color: var(--main-color);
    color: var(--main-color);
    padding: 5px;
    margin: 7px;
    

}

.social-icons a:hover{
    background-color:  white;
    box-shadow: 0 0 25px var(--main-color);
}
.home-content .btn{
    font-size: 2rem;
    margin-top: 40px;
    background-color: var(--main-color);
    font-size: 1.6rem;
    
    border-style: solid;
    padding: 10px;
    border-radius: 20px;
}

.home .home-img img{
    position: relative;
    top:3rem;
    width: 32vw;
    border-radius: 50%;
   
}
.home .home-img img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 25px var(--main-color);
}

.home-content h1 span{
    color: var(--main-color);
}
.home-content h3 span{
    color:var(--main-color);
}

.btn a span{
    color: #080808;
    font-weight:600 ;
}

.btn:hover{
    transform: scale(1.1);
    box-shadow: 0 0 25px var(--main-color);
    cursor:pointer;

}
.heading{
    font-size: 3rem;
    position:relative;
    text-align: left;
    margin: 5rem 0;
    left:15rem;
}
.education{
    position: relative;
    padding: 100px 15px;    
    background-color: var(--second-bg-color);
    margin-left: 5rem 0;
    padding-left:15rem;
}

.edu-detail{
    display: inline-block;
    margin-top: 25px;

    margin-left: 5rem 0;
    
}
.edu-detail .institute{
    margin: 15px;
}

.edu-detail .course,.duration,.grade{
    margin-left: 15px;
    margin-top: 10px;
    
}

.edu-detail .institute{
    font-size: 2.5rem;
    color: var(--main-color);
}

.edu-detail .course{
    font-size: 2rem;
    font-weight: 100;
}

.edu-detail .duration,.grade{
    font-size:1.5rem;
}

.edu-detail .cor{

    color: aquamarine;
}
.coureshead{
    font-size: 3rem;
    text-align: left;
    margin: 5rem 0;
}


.cert-img{
    display: inline-block;
    border-radius: 5px;
    height: 280px;
    width: 280px;
    margin: 30px;

    
}
.cert-photo{
    display: inline-block;
    height: 280px;
    width: 280px;
    border-radius: 5px;
}
.cert-img .img-title{
    padding-top: 10px;
}

